# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store
Thumbs.db

# Database files
*.sqlite3
db.sqlite3

# Django static and media
staticfiles/
media/

# Environment variables
.env
.env.*
!.env.example

# Local env and Render files
.env.local
.render

# Logs
*.log
*.tmp
*.temp

# Editor directories
.vscode/
.idea/

# Build/dist
build/
dist/
*.egg-info/

# Node
node_modules/
package-lock.json
