{% extends "base.html" %}
{% load static %}

{% block title %}Inicio - Jose Noe{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/home.bundle.css' %}?v=6.0">
{% endblock %}

{% block hero %}
{% include "home/_hero.html" %}
{% endblock %}

{% block content %}
{% include "home/_projects.html" %}
{% include "home/_methodology.html" %}
{% include "home/_capabilities.html" %}
{% include "home/_profile.html" %}
{% include "home/_closing_cta.html" %}
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'js/pages/home/index.js' %}?v=7.1"></script>
{% endblock %}    
